@model infra.ViewModels.ViewStudentData
@{
    ViewData["Title"] = "登入";
    Layout = "~/Views/Shared/HomePage.cshtml";
}

<!doctype html>
<html>
<body>
    <h1>登入</h1>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Studentid, htmlAttributes: new { @class = "control-label col-md-2" });
        <div class="col-md-10">
            @Html.EditorFor(model => model.Studentid, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Studentid, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" });
        <div class="col-md-10">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="學生登入" class="btn-default" />
            @ViewBag.Message
        </div>
    </div>
</div>
    }
</body>
</html>

